@import "./_center/title_center.scss";
@import "./_size-m/title_size-m.scss";
@import "./_size-s/title_size-s.scss";
@import "./_mobile-border/title_mobile-border.scss";

.title {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 2.5rem;
    font-weight: 700;
}

@media (min-width: 320px) and (max-width: 768px) {
    .title {
        margin-top: 1em;
        margin-bottom: 1rem;
        padding: 0.2em;
    }
}

.title-none {
    display: none;

}

@media (min-width: 320px) and (max-width: 768px) {
    .title-none {
        display: block;
    }
}