@import "./__link/btn__link.scss";

.btn {

    margin-top: 5em;
    transition: 1s;
}

.btn:hover {
    transform: scale(1.1);
}

@media (min-width: 320px) and (max-width: 480px) {
    .btn {

        margin-top: 4em;

    }
}