@import "./__link/btn__link.scss";
@import "./__booking/btn__booking.scss";

.btn {
    margin-top: 4em;
    transition: 1s;
}

.btn:hover {
    transform: scale(1.1);
}

@media (min-width: 320px) and (max-width: 767px) {
    .btn {
        margin-top: 3em;
    }
}