.footer__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 3rem 11rem;
    list-style-type: none;
}

@media (max-width: $mobile-width) {
    .footer__list {
        padding: 2.93rem 4.37rem;
    }
}

@media (max-width: $tablet-width) {
    .footer__list {
        padding: 2.93rem 4.37rem;
    }
}