.services__image {
    max-height: 670px;
    margin-left: 2rem;
}

@media (min-width: 320px) and (max-width: 1023px) {
    .services__image {
        display: none;
    }
    .services__image-mobile {
        margin-bottom: 1rem;
    }
}

@media (min-width: 1024px) {
    .services__image-mobile {
        display: none;
    }
}