.services__image {
    max-height: 650px;
    margin-left: 2rem;
}

@media (min-width: 320px) and (max-width: 1023px) {
    .services__image {
        display: none;
    }
    .services__image-mobile {
        max-width: 400px;
        margin-bottom: 1rem;
        align-self: center;
    }
}

@media (min-width: 1024px) {
    .services__image-mobile {
        display: none;
    }
}