.main-container {
    display: block;
    margin: 0 auto;
    margin-top: 135px;
    max-width: 1300px;
    box-sizing: border-box;
}

@media (max-width: $mobile-width) {
    .main-container {
        display: block;
        margin: 1.5em;

    }
}

@media (min-width: $mobile-width) and (max-width: $desktop-width) {
    .main-container {
        display: block;
        margin: 2.5em;

    }
}