.footer__text {
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 400;

    &:hover {
        color: $grey;
    }
}

@media (max-width: $mobile-width) {
    .footer__text {
        display: none;
    }   
}

@media (min-width: $mobile-width) and (max-width: $tablet-width) {
    .footer__text {
        display: none;
    }   
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
    .footer__text {
        display: none;
    }
}
