@import "./__title/_title";

.articles {
    margin-bottom: 6em;
}

@media (min-width: $mobile-width) and (max-width: $tablet-width) {
    .articles {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}