.services__text {
    display: flex;
    margin-left: 63px;
    flex-direction: column;
    justify-content: space-between;
}

.services__text-title {
    margin: 0;
    font-family: inherit;
    font-size: 30px;
    font-weight: 600;
    color: inherit;
}

.services__text-description {
    line-height: 3rem;
    max-width: 45rem;
    text-align: justify;
}

@media (min-width: 320px) and (max-width: 1023px) {
    .services__text-description {
        line-height: 2rem;
    }
}

@media (min-width: 320px) and (max-width: 1023px) {
    .services__text {
        display: flex;
        margin: 1em;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media (min-width: 320px) and (max-width: 1023px) {
    .services__text-title {
        margin: 0;
        text-align: center;
        font-family: inherit;
        font-size: 24px;
        font-weight: 600;
        line-height: 2rem;
        color: inherit;
    }
}

@media (min-width: 320px) and (max-width: 1023px) {
    .services__text-description {
        margin-bottom: 2rem;
        text-align: justify;
    }
}