@import "./__img-item/about__img-item.scss";
@import "./__img/about__img.scss";
@import "./__text/about__text.scss";

.about {

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4em;

}

@media (min-width: 320px) and (max-width: 767px) {
    .about {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .about {
        display: flex;
        flex-direction: row;
    }
}