@media (min-width: 768px) and (max-width: 1023px) {
    .btn__booking {
        margin-top: 1em;

    }
}

@media (min-width: 320px) and (max-width: 1024px) {
    .btn__booking {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-left: 0;
        margin-top: 0;
    }
}