.articles-card__wrapper {
    display: flex;
}

@media (max-width: $desktop-width) {
    .articles-card__wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
