hr {
    display: block;
    width: 83%;
    margin: 2rem auto;
    background-color: $dark-green;
    border: none;
    height: 3px;
}

@media (min-width: 320px) and (max-width: 767px) {
    hr {
        display: none;
        width: 19.12rem;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    hr {
        width: 73%;
    }
}