hr {
    display: block;
    width: 68.75rem;
    margin: 3.5rem auto;
    background-color: $dark-green;
    border: none;
    height: 3px;
}

@media (max-width: $mobile-width) {
    hr {
        width: 19.12rem;
    }
}

@media (min-width: $mobile-width) and (max-width: $tablet-width) {
    hr {
        width: 28rem;
    }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
    hr {
        width: 40rem;
    }
}