.education__img_move {
    margin-bottom: 1.5em;
}

@media (min-width: 320px) and (max-width: 480px) {
    .education__img_move {
        margin-bottom: 0;

    }
}

@media (min-width: 481px) and (max-width: 1023px) {
    .education__img_move {
        margin-bottom: 0.5em;


    }
}