@import "./__img/education-gallery__img.scss";
@import "./__item-1/education-gallery__item-1.scss";
@import "./__item-2/education-gallery__item-2.scss";
@import "./__item-3/education-gallery__item-3.scss";
@import "./__item-4/education-gallery__item-4.scss";
@import "./__item-5/education-gallery__item-5.scss";
@import "./_animation/education-gallery_animation.scss";

.education-gallery {

    margin-left: 1em;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 10px 1fr;
    column-gap: 3em;
    row-gap: 1em;
    align-items: baseline;
    justify-items: center;
    margin: 3em 0;
}

@media (min-width: 320px) and (max-width: 1023px) {
    .education-gallery {
        margin: 4rem 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 50%;
    }
}