@import "./__title/_title";
@import "./__text/_text";

.principle_description {
    display: block;
    margin: 3em auto 83px;
    padding: 1em 2em;
    line-height: 2rem;
    max-width: 40rem;
    background-color: rgba(7, 140, 137, 0.2);
    text-align: justify;
    @include border-radius;
}

@media (min-width: 320px) and (max-width: 1023px) {
    .principle_description {
        margin-bottom: 1rem;
        padding: 1rem;
        text-align: justify;
    }
}