@import "./__icon/_icon";
@import "./__item/_item";
@import "./__link/_link";
@import "./__list/_list";
@import "./__text/_text";

.footer {
    margin-top: 5rem;
    padding: 0;
    background-color: $light-grey;
}