.article__wrapper {
    display: flex;
}

@media (max-width: $mobile-width) {
     .article__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (min-width: $mobile-width) and (max-width: $tablet-width) {
    .article__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
