.about__text {
    width: 40%;
    align-self: center;
    text-align: center;

}

@media (min-width: 320px) and (max-width: 480px) {
    .about__text {
        width: 90%;

    }
}

@media (min-width: 481px) and (max-width: 1024px) {
    .about__text {

        width: 100%;
    }
}