.education__block-3 {
    grid-column: 1/span 2;
    grid-row: 2/3;


}

@media (min-width: 320px) and (max-width: 480px) {
    .education__block-3 {

        margin-top: 0;
        grid-column: 1/span 2;
        grid-row: 2/3;
    }
}