.education__block-3 {
<<<<<<< HEAD
    margin-top: 1em;
    grid-column: 1/span 2;
    grid-row: 2/3;

}

@media (min-width: 320px) and (max-width: 480px) {
    .education__block-3 {
        margin-top: 0;
    }
=======
    grid-column: 1/span 2;
    grid-row: 2/3;
>>>>>>> e61f22382dec5d37e5c8ed6d277dcc19bf05c991
}