@import "./__img/education__img.scss";
@import "./__text/education__text.scss";
@import "./__link/_link";
@import "./__block-3/education__block-3.scss";

.education {
  display: grid;
  grid-template-columns: 1fr 2fr;
  //   grid-template-rows: 1fr 27rem;
  text-align: left;
  margin: 3rem 0;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .education {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
