@import "./__item/_item";
@import "./__link/_link";
@import "./__list/_list";
@import "./__logo/_logo";
@import "./__img/_img";

.header {
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color: #ffffff;
}

@media (min-width: 320px) and (max-width: 767px) {
    
}