.title_size-m {
    font-size: 44px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .title_size-m {
        font-family: inherit;
        font-weight: 700;
        font-size: 30px;


    }
}