@media (min-width: 320px) and (max-width: 768px) {
    .title_mobile-border {

        border-top: 3px solid $dark-green;
        border-bottom: 3px solid $dark-green;
        padding: 0.6em;

    }
}