.btn__link {
    background-color: $light-green;
    text-decoration: none;
    color: $dark-green;
    padding: 1em;
    font-size: 20px;

}

@media (min-width: 320px) and (max-width: 480px) {
    .btn__link {
        font-size: 18px;

    }
}