.text {
    font-family: inherit;
    font-size: 20px;
    font-weight: 400;
    color: $grey;
}

@media (min-width: 320px) and (max-width: 480px) {
    .text {
        font-size: 18px;
        font-family: inherit;
        font-weight: 400;
    }
}