.header__logo {
    margin: 0;
    margin-left: 4rem;
    padding: 0;
}

@media (max-width: $desktop-width) {
    .header__logo {
        margin-left: 0;
        margin-right: 6.5rem;
        order: 2;
    }
}