.header__list {
    margin: 0;
    margin-right: 4rem;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

@media (min-width: 320px) and (max-width: 767px) {
    .header__list {
        display: none;
    }
}