.booking__title {
    display: flex;
    justify-content: center;
}

@media (min-width: 320px) and (max-width: 1023px) {
    .booking__title {
        display: flex;
        text-align: center;
        font-size: 34px;
    }
}