.booking__title{
    display: flex;
    justify-content: center;
    margin-top: 54px;
}

@media (min-width: 320px) and (max-width: 1023px) {
    .booking__title {
        display: flex;
        text-align: center;
        padding: 1rem 2%;
        font-size: 34px;
    }
}