body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.border-radius_color {
  border: 3.5px solid rgba(7, 140, 137, 0.2);
}

@media (min-width: 320px) and (max-width: 480px) {
  .border-radius_color {
    border: 2.5px solid rgba(7, 140, 137, 0.2);
  }
}
.border-radius__img {
  border-radius: 50px;
}

.border-radius {
  border: 3px solid rgba(7, 140, 137, 0.2);
  border-radius: 20px;
}

.education__img {
  text-align: center;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .education__img {
    margin: 1em;
  }
}
.education__text-left {
  text-align: left;
}

.education__text {
  margin: 1.5em;
  background-color: rgba(7, 140, 137, 0.2);
  padding: 2em;
  border-radius: 20px;
}

.education__text_experience {
  max-width: 60%;
  margin: 1.5em auto;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .education__text {
    margin: 0.4em;
    padding: 1em;
  }
}
.education__link {
  color: inherit;
}

.education__block-3 {
  grid-column: 1/span 2;
  grid-row: 2/3;
}

@media (min-width: 320px) and (max-width: 480px) {
  .education__block-3 {
    margin-top: 0;
    grid-column: 1/span 2;
    grid-row: 2/3;
  }
}
.education {
  display: grid;
  grid-template-columns: 1fr 2fr;
  text-align: left;
  margin: 3rem 0;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .education {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.education-gallery__img {
  width: 26vw;
  height: 44vh;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .education-gallery__img {
    width: 42vh;
  }
}
.education-gallery__item-1 {
  grid-column: 1/span 2;
  grid-row: 1/2;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .education-gallery__item-1 {
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
.education-gallery__item-2 {
  grid-column: 3/span 2;
  grid-row: 1/2;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .education-gallery__item-2 {
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
.education-gallery__item-3 {
  grid-column: 5/span 2;
  grid-row: 1/2;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .education-gallery__item-3 {
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
.education-gallery__item-4 {
  grid-column: 2/4;
  grid-row: 3/span 2;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .education-gallery__item-4 {
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
.education-gallery__item-5 {
  grid-column: 4/span 2;
  grid-row: 3/span 2;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .eeducation-gallery__item-5 {
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
.education-gallery_animation {
  transition: 1s;
}

.education-gallery_animation:hover {
  transform: scale(1.2);
}

@media (min-width: 320px) and (max-width: 768px) {
  .education-gallery_animation:hover {
    transform: none;
  }
}
.education-gallery {
  margin-left: 1em;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 10px 1fr;
  column-gap: 3em;
  row-gap: 1em;
  align-items: baseline;
  justify-items: center;
  margin: 3em 0;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .education-gallery {
    margin: 4rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 50%;
  }
}
.title_center {
  text-align: center;
}

.title_size-m {
  font-size: 44px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .title_size-m {
    font-family: inherit;
    font-weight: 700;
    font-size: 30px;
  }
}
.title_size-s {
  font-size: 1.8rem;
  margin-top: 0;
}

@media (min-width: 320px) and (max-width: 480px) {
  .title_size-s {
    font-size: 22px;
    font-family: inherit;
    font-weight: 700;
    text-align: center;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .title_mobile-border {
    border-top: 3px solid rgb(7, 140, 137);
    border-bottom: 3px solid rgb(7, 140, 137);
  }
}
.title {
  margin: 0;
  margin: 1.5rem 0;
  padding: 0;
  font-family: inherit;
  font-size: 2.5rem;
  font-weight: 700;
}

@media (min-width: 320px) and (max-width: 768px) {
  .title {
    margin-top: 1em;
    margin-bottom: 1rem;
    padding: 0.2em;
  }
}
.title-none {
  display: none;
}

@media (min-width: 320px) and (max-width: 768px) {
  .title-none {
    display: block;
  }
}
.text {
  font-family: inherit;
  font-size: 20px;
  font-weight: 400;
  color: rgb(118, 118, 118);
}

@media (min-width: 320px) and (max-width: 480px) {
  .text {
    font-size: 18px;
    font-family: inherit;
    font-weight: 400;
  }
}
.services__image {
  max-height: 650px;
  margin-left: 2rem;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .services__image {
    display: none;
  }
  .services__image-mobile {
    max-width: 400px;
    margin-bottom: 1rem;
    align-self: center;
  }
}
@media (min-width: 1024px) {
  .services__image-mobile {
    display: none;
  }
}
.services__title {
  display: flex;
  justify-content: center;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .services__title {
    display: flex;
    text-align: center;
    font-size: 34px;
  }
}
.services__text {
  display: flex;
  margin-left: 63px;
  flex-direction: column;
  justify-content: center;
}

.services__text-title {
  margin: 0;
  font-family: inherit;
  font-size: 30px;
  font-weight: 600;
  color: inherit;
}

.services__text-description {
  line-height: 2rem;
  max-width: 45rem;
  text-align: justify;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .services__text-description {
    line-height: 2rem;
  }
}
@media (min-width: 320px) and (max-width: 1023px) {
  .services__text {
    display: flex;
    margin: 1em;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media (min-width: 320px) and (max-width: 1023px) {
  .services__text-title {
    margin: 0;
    text-align: center;
    font-family: inherit;
    font-size: 24px;
    font-weight: 600;
    line-height: 2rem;
    color: inherit;
  }
}
@media (min-width: 320px) and (max-width: 1023px) {
  .services__text-description {
    max-width: none;
    margin-bottom: 2rem;
    text-align: justify;
  }
}
.services {
  margin: 3rem 0 4rem;
}

.services-block {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .services-block {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 0 0;
  }
  .services {
    margin: 1rem 0;
  }
}
.principles__tittle {
  display: flex;
  justify-content: center;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .principles__tittle {
    text-align: center;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .principles__tittle {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 1023px) {
  .principle_text {
    margin: 0;
  }
}
.principles {
  margin: 3rem 0 4rem;
}

.principle_description {
  display: block;
  margin: 3em auto 83px;
  padding: 1em 2em;
  line-height: 2rem;
  max-width: 40rem;
  background-color: rgba(7, 140, 137, 0.2);
  text-align: justify;
  border-radius: 20px;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .principle_description {
    margin-bottom: 1rem;
    padding: 1rem;
    text-align: left;
  }
}
.main-container {
  display: block;
  margin: 0 auto;
  margin-top: 135px;
  max-width: 1300px;
  box-sizing: border-box;
}

@media (max-width: 480px) {
  .main-container {
    display: block;
    margin: 1.5em;
    margin-top: 120px;
  }
}
@media (min-width: 480px) and (max-width: 1320px) {
  .main-container {
    display: block;
    margin: 2.5em;
    margin-top: 115px;
  }
}
.footer__icon {
  padding: 0;
  margin: 0;
  margin-right: 1rem;
}
.footer__icon_telephone {
  width: 2.7rem;
  height: 3.3rem;
}
.footer__icon_telegram {
  width: 2.8rem;
  height: 2.68rem;
}
.footer__icon_mail {
  width: 3rem;
  height: 3.37rem;
}

@media (min-width: 480px) and (max-width: 768px) {
  .footer__icon {
    padding: 0;
    margin: 0;
    margin-right: 0;
  }
  .footer__icon_telephone {
    width: 2rem;
  }
  .footer__icon_telegram {
    width: 2rem;
  }
  .footer__icon_mail {
    width: 2.5rem;
  }
  .footer__icon:hover {
    fill: rgb(7, 140, 137);
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .footer__icon {
    padding: 0;
    margin: 0;
    margin-right: 0;
  }
  .footer__icon_telephone {
    width: 2rem;
  }
  .footer__icon_telegram {
    width: 2rem;
  }
  .footer__icon_mail {
    width: 2.5rem;
  }
  .footer__icon:hover {
    fill: rgb(7, 140, 137);
  }
}
.footer__item {
  margin: 0;
  padding: 0;
}

.footer__link {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
}
.footer__link:hover {
  color: rgb(118, 118, 118);
}

.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 3rem 11rem;
  list-style-type: none;
}

@media (max-width: 480px) {
  .footer__list {
    padding: 2.93rem 4.37rem;
  }
}
@media (max-width: 768px) {
  .footer__list {
    padding: 2.93rem 4.37rem;
  }
}
.footer__text {
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 400;
}
.footer__text:hover {
  color: rgb(118, 118, 118);
}

@media (max-width: 480px) {
  .footer__text {
    display: none;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  .footer__text {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .footer__text {
    display: none;
  }
}
.footer {
  margin-top: 5rem;
  padding: 0;
  background-color: hsla(0deg, 0%, 93%, 0.92);
}

hr {
  display: block;
  width: 83%;
  margin: 0 auto;
  background-color: rgb(7, 140, 137);
  border: none;
  height: 3px;
}

@media (min-width: 320px) and (max-width: 768px) {
  hr {
    display: none;
    width: 19.12rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  hr {
    width: 73%;
  }
}
.articles__title {
  margin-bottom: 2.5rem;
  text-align: center;
}

@media (max-width: 480px) {
  .articles__title {
    margin-bottom: 20px;
  }
}
.articles {
  margin: 3rem 0 4rem;
}

@media (min-width: 480px) and (max-width: 768px) {
  .articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
  }
}
.articles-card__link {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-decoration: none;
  text-align: right;
  color: rgb(7, 140, 137);
  transition: 1s;
}
.articles-card__link:hover {
  color: rgb(118, 118, 118);
}

.articles-card__text {
  padding: 0;
  margin: 0 2em 8.12rem 0;
  width: 100%;
}

.articles-card__title {
  margin-bottom: 1.75rem;
}

.articles-card__wrapper {
  display: flex;
}

@media (max-width: 1024px) {
  .articles-card__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.articles-card__link-text {
  padding-right: 20px;
}

.articles-card__icon:hover {
  transform: scale(1.07);
  transition-duration: 0.25s;
}

.articles-card {
  display: grid;
  max-width: 19em;
  margin: 0;
  margin-right: 2rem;
  padding: 4.56rem 3rem 1.62rem 3.93rem;
  background-color: hsla(0deg, 0%, 93%, 0.92);
  text-align: left;
  border-radius: 20px;
}
.articles-card_last {
  margin-right: 0;
}

@media (max-width: 1024px) {
  .articles-card {
    max-width: 18rem;
    margin-bottom: 2.5em;
    margin-right: 0;
  }
}
.article__image {
  border-radius: 20px;
}
.article__image_left {
  margin-right: 2rem;
}

.article__text {
  margin-bottom: 25px;
}

.article__title-wrapper {
  padding: 30px;
  margin-top: 20px;
  background-color: rgba(7, 140, 137, 0.2);
  border-radius: 20px;
}

.article__subtitle {
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  font-weight: 400;
}

.article__wrapper {
  display: flex;
}

@media (max-width: 480px) {
  .article__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media (min-width: 480px) and (max-width: 1024px) {
  .article__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.article {
  margin: 3rem 0;
}

.about__img-item {
  margin-left: 2em;
}

@media (min-width: 320px) and (max-width: 767px) {
  .about__img-item {
    margin-left: 0;
    margin-top: 1em;
  }
}
.about__img {
  max-width: 33em;
  max-height: 40em;
}

@media (min-width: 320px) and (max-width: 767px) {
  .about__img {
    max-width: 16em;
    max-height: 25em;
    align-self: center;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .about__img {
    max-width: 25em;
    max-height: 30em;
  }
}
.about__text {
  width: 40%;
  align-self: center;
  text-align: center;
}

@media (min-width: 320px) and (max-width: 480px) {
  .about__text {
    width: 90%;
  }
}
@media (min-width: 481px) and (max-width: 1024px) {
  .about__text {
    width: 100%;
  }
}
.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 3rem 0 4rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .about {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .about {
    display: flex;
    flex-direction: row;
  }
}
.about-mobile {
  display: none;
}

@media (min-width: 320px) and (max-width: 767px) {
  .about-mobile {
    height: 46em;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
.btn__link {
  background-color: rgba(7, 140, 137, 0.2);
  text-decoration: none;
  color: rgb(7, 140, 137);
  padding: 1em;
  font-size: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .btn__link {
    font-size: 18px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .btn__booking {
    margin-top: 1em;
  }
}
@media (min-width: 320px) and (max-width: 1024px) {
  .btn__booking {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 0;
    margin-top: 0;
  }
}
.btn {
  margin-top: 4em;
  transition: 1s;
}

.btn:hover {
  transform: scale(1.1);
}

@media (min-width: 320px) and (max-width: 767px) {
  .btn {
    margin-top: 3em;
  }
}
.header__item {
  margin: 0;
  margin-right: 22px;
  padding: 0;
}

.header__link {
  padding: 20px 5px;
  color: rgb(118, 118, 118);
  text-decoration: none;
}
.header__link:hover {
  color: rgb(0, 0, 0);
}

.header__list {
  margin: 0;
  margin-right: 4rem;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

@media (max-width: 1024px) {
  .header__list {
    display: none;
  }
}
.header__logo {
  margin: 0;
  margin-left: 4rem;
  padding: 0;
}

@media (max-width: 1024px) {
  .header__logo {
    margin-left: 0;
    margin-right: 6.5rem;
    order: 2;
  }
}
.header__image {
  margin: 0;
  padding: 0;
  width: 77px;
  height: 106px;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  background-color: #ffffff;
}

@media (max-width: 1024px) {
  .header {
    padding-right: 4rem;
    padding-left: 4rem;
    position: fixed;
  }
}
.booking__image {
  max-height: 500px;
  margin-left: 8%;
}

@media (min-width: 320px) and (max-width: 767px) {
  .booking__image {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .booking__image {
    max-width: 50%;
    margin-left: 5%;
  }
}
.booking__info {
  align-self: center;
  text-align: center;
  font-weight: bold;
  line-height: 1.3;
  margin-top: 3rem;
  margin-bottom: 3.8rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .booking__info {
    margin-bottom: 3rem;
  }
}
.booking {
  margin: 3rem 0 4rem;
}

.booking-block2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (min-width: 320px) and (max-width: 767px) {
  .booking-block2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.booking-block2__text {
  display: flex;
  flex-direction: column;
  margin-top: 2.5em;
  background-color: hsla(0deg, 0%, 93%, 0.92);
  margin-right: 1em;
  padding: 2em;
  border-radius: 20px;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .booking-block2__text {
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 2rem;
    width: 70%;
  }
}
.hamburger-menu__button {
  display: flex;
  align-items: center;
  position: fixed;
  top: 20px;
  left: 45px;
  width: 60px;
  height: 60px;
  border-radius: 50px;
  background-color: hsla(0deg, 0%, 93%, 0.92);
  z-index: 1;
  cursor: pointer;
}
.hamburger-menu__button:hover {
  background-color: rgba(7, 140, 137, 0.2);
}

.hamburger-menu__button > span,
.hamburger-menu__button > span::before,
.hamburger-menu__button > span::after {
  display: block;
  position: absolute;
  left: 10px;
  width: 20px;
  height: 3px;
  background-color: rgb(118, 118, 118);
  transition-duration: 0.25s;
}

.hamburger-menu__button > span::before {
  content: "";
  top: -8px;
}

.hamburger-menu__button > span::after {
  content: "";
  top: 8px;
}

#hamburger-menu__toggle {
  opacity: 0;
}

#hamburger-menu__toggle:checked ~ .hamburger-menu__button > span {
  width: 0;
}

#hamburger-menu__toggle:checked ~ .hamburger-menu__button > span::before {
  top: 0;
  transform: rotate(-45deg);
}

#hamburger-menu__toggle:checked ~ .hamburger-menu__button > span::after {
  top: 0;
  transform: rotate(45deg);
}

#hamburger-menu__toggle:checked ~ .hamburger-menu__list {
  visibility: visible;
  left: 0;
}

.hamburger-menu__item {
  display: block;
  padding: 12px 14px;
  color: rgb(118, 118, 118);
  transition-duration: 0.25s;
}

.hamburger-menu__link {
  text-decoration: none;
}
.hamburger-menu__link:hover {
  color: rgb(0, 0, 0);
}

.hamburger-menu__list {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 250px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style-type: none;
  text-align: right;
  background-color: #EEEEEE;
  transition-duration: 0.25s;
}

@media (min-width: 1024px) {
  .hamburger-menu {
    display: none;
  }
}
.faq {
  padding: 3rem 7rem;
}

.faq__text {
  padding: 2rem;
}

.faq-container__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.faq-container__title {
  font-size: 20px;
}

.faq-container__item {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid rgb(7, 140, 137);
  border-radius: 20px;
  border: 3.5px solid rgba(7, 140, 137, 0.2);
}

/*# sourceMappingURL=main.css.map */
