body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0; }

.border-radius_color {
  border: 3.5px solid rgba(7, 140, 137, 0.2); }

@media (min-width: 320px) and (max-width: 480px) {
  .border-radius_color {
    border: 2.5px solid rgba(7, 140, 137, 0.2); } }
.border-radius__img {
  border-radius: 50px; }

.border-radius {
  border: 3px solid rgba(7, 140, 137, 0.2);
  border-radius: 20px; }

.education__img_move {
  margin-bottom: 1.5em; }

@media (min-width: 320px) and (max-width: 480px) {
  .education__img_move {
    margin-bottom: 0; } }
@media (min-width: 481px) and (max-width: 1023px) {
  .education__img_move {
    margin-bottom: 0.5em; } }
.education__img {
  text-align: center; }

@media (min-width: 320px) and (max-width: 1023px) {
  .education__img {
    margin: 1em; } }
.education__text-left {
  text-align: left; }

.education__text_block-size {
  height: 57.5%; }

.education__text {
  margin: 1.5em;
  background-color: rgba(7, 140, 137, 0.2);
  padding: 2em;
  border-radius: 20px; }

@media (min-width: 320px) and (max-width: 1023px) {
  .education__text {
    margin: 0.4em;
    padding: 1em; } }
.education__block-3 {
  grid-column: 1/span 2;
  grid-row: 2/3; }

@media (min-width: 320px) and (max-width: 480px) {
  .education__block-3 {
    margin-top: 0;
    grid-column: 1/span 2;
    grid-row: 2/3; } }
.education {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 33rem;
  text-align: left;
  margin-top: 3rem; }

@media (min-width: 320px) and (max-width: 1023px) {
  .education {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center; } }
.education-gallery__img {
  width: 26vw;
  height: 44vh; }

.education-gallery__item-1 {
  grid-column: 1/span 2;
  grid-row: 1/2; }

.education-gallery__item-2 {
  grid-column: 3/span 2;
  grid-row: 1/2; }

.education-gallery__item-3 {
  grid-column: 5/span 2;
  grid-row: 1/2; }

.education-gallery__item-4 {
  grid-column: 2/4;
  grid-row: 3/span 2; }

.education-gallery__item-5 {
  grid-column: 4/span 2;
  grid-row: 3/span 2; }

.education-gallery_animation {
  transition: 1s; }

.education-gallery_animation:hover {
  transform: scale(1.2); }

@media (min-width: 320px) and (max-width: 768px) {
  .education-gallery_animation:hover {
    transform: none; } }
.education-gallery {
  margin-left: 1em;
  margin-bottom: 10em;
  display: grid;
  height: 48em;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 10px 1fr 1fr;
  column-gap: 3em;
  row-gap: 1em;
  align-items: baseline;
  justify-items: center;
  margin-top: 4em; }

.title-box {
  margin-top: 3em;
  text-align: center; }

.title_center {
  text-align: center; }

.title_size-m {
  font-size: 44px; }

@media (min-width: 320px) and (max-width: 480px) {
  .title_size-m {
    font-family: inherit;
    font-weight: 700;
    font-size: 30px;
    width: 100%; } }
.title_size-s {
  font-size: 1.8rem;
  margin-top: 0; }

@media (min-width: 320px) and (max-width: 480px) {
  .title_size-s {
    font-size: 22px;
    font-family: inherit;
    font-weight: 700; } }
@media (min-width: 320px) and (max-width: 480px) {
  .title_mobile-border {
    border-top: 4px solid #078C89;
    border-bottom: 4px solid #078C89;
    padding: 0.6em; } }
.title {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 2.5rem;
  font-weight: 700; }

.text {
  font-family: inherit;
  font-size: 20px;
  font-weight: 400;
  color: #767676; }

@media (min-width: 320px) and (max-width: 480px) {
  .text {
    font-size: 18px;
    font-family: inherit;
    font-weight: 400; } }
.services__image {
  max-height: 1000px; }

@media (min-width: 320px) and (max-width: 1023px) {
  .services__image {
    display: none; } }
.services__title {
  display: flex;
  justify-content: center;
  margin-top: 54px; }

@media (min-width: 320px) and (max-width: 1023px) {
  .services__title {
    display: flex;
    text-align: center;
    margin: 0 1rem;
    font-size: 34px; } }
.services__text {
  display: flex;
  margin-left: 63px;
  flex-direction: column;
  justify-content: space-between; }

.services__text-title {
  margin: 0;
  font-family: inherit;
  font-size: 30px;
  font-weight: 600;
  color: inherit; }

@media (min-width: 320px) and (max-width: 1023px) {
  .services__text {
    display: flex;
    margin: 1em;
    flex-direction: column;
    justify-content: space-between; } }
@media (min-width: 320px) and (max-width: 1023px) {
  .services__text-title {
    margin: 0;
    font-family: inherit;
    font-size: 24px;
    font-weight: 600;
    color: inherit; } }
@media (min-width: 320px) and (max-width: 1023px) {
  .services__text-description {
    margin-bottom: 2rem; } }
.services-block {
  display: flex;
  flex-direction: row;
  margin: 102px 0 130px 0; }

@media (min-width: 320px) and (max-width: 1023px) {
  .services-block {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 0 0; } }
.principles__tittle {
  display: flex;
  justify-content: center;
  margin-bottom: 30px; }

@media (min-width: 320px) and (max-width: 1023px) {
  .principles__tittle {
    margin-bottom: 1rem;
    text-align: center; } }
@media (min-width: 320px) and (max-width: 1023px) {
  .principle_text {
    margin: 0; } }
.principle_description {
  display: block;
  margin: 30px auto 83px;
  padding: 2em;
  max-width: 960px;
  background-color: rgba(7, 140, 137, 0.2);
  border-radius: 20px; }

@media (min-width: 320px) and (max-width: 1023px) {
  .principle_description {
    margin-bottom: 1rem;
    padding: 1rem; } }
.main-container {
  display: block;
  margin: 0 auto;
  max-width: 1300px; }

@media (min-width: 320px) and (max-width: 480px) {
  .main-container {
    display: block;
    margin: 1.5em; } }
@media (min-width: 480px) and (max-width: 1023px) {
  .main-container {
    display: block;
    margin: 2.5em; } }
.footer__icon {
  padding: 0;
  margin: 0;
  margin-right: 1rem; }
  .footer__icon_telephone {
    width: 3.08rem;
    height: 3.30rem; }
  .footer__icon_telegram {
    width: 3.08rem;
    height: 2.68rem; }
  .footer__icon_mail {
    width: 3.9rem;
    height: 3.37rem; }

@media (min-width: 480px) and (max-width: 768px) {
  .footer__icon:hover {
    fill: #078c89; } }
@media (min-width: 768px) and (max-width: 1024px) {
  .footer__icon:hover {
    fill: #078c89; } }
.footer__item {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0; }

.footer__link {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 1.35rem;
  font-weight: 500;
  color: inherit;
  text-decoration: none; }
  .footer__link:hover {
    color: #767676; }

@media (max-width: 480px) {
  .footer__link {
    display: none; } }
@media (min-width: 480px) and (max-width: 768px) {
  .footer__link {
    display: none; } }
@media (min-width: 768px) and (max-width: 1024px) {
  .footer__link {
    display: none; } }
.footer__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 3.43rem 11.56rem;
  list-style-type: none; }

@media (max-width: 480px) {
  .footer__list {
    padding: 2.93rem 4.37rem; } }
@media (max-width: 768px) {
  .footer__list {
    padding: 2.93rem 4.37rem; } }
.footer {
  margin-top: 5rem;
  padding: 0;
  background-color: rgba(238, 238, 238, 0.92); }

hr {
  display: block;
  width: 83%;
  margin: 2.5rem auto;
  background-color: #078c89;
  border: none;
  height: 3px; }

@media (min-width: 320px) and (max-width: 767px) {
  hr {
    display: none;
    width: 19.12rem; } }
@media (min-width: 768px) and (max-width: 1023px) {
  hr {
    width: 73%; } }
.articles__title {
  margin-bottom: 4.37rem;
  text-align: center; }

.articles {
  margin-bottom: 6em; }

.articles-card__link {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-decoration: none;
  text-align: right;
  color: #078c89;
  transition: 1s; }
  .articles-card__link:hover {
    transform: scale(1.07); }

svg {
  width: 107px;
  height: 22px;
  margin-left: 14em; }

.articles-card__text {
  padding: 0;
  margin: 0 2em 8.12rem 0;
  width: 100%; }

.articles-card__title {
  margin-bottom: 1.75rem; }

.articles-card__wrapper {
  display: flex;
  justify-content: space-between; }

@media (max-width: 480px) {
  .articles-card__wrapper {
    flex-direction: column;
    justify-content: center; } }
@media (min-width: 480px) and (max-width: 768px) {
  .articles-card__wrapper {
    flex-direction: column;
    justify-content: center; } }
@media (min-width: 768px) and (max-width: 1024px) {
  .articles-card__wrapper {
    flex-wrap: wrap;
    justify-content: center; } }
.articles-card__link-text {
  padding-right: 20px; }

.articles-card {
  display: grid;
  max-width: 19em;
  margin: 0;
  padding: 4.56rem 3rem 1.62rem 3.93rem;
  background-color: rgba(238, 238, 238, 0.92);
  text-align: left;
  border-radius: 20px; }
  .articles-card_last {
    margin-right: 0; }

@media (max-width: 480px) {
  .articles-card {
    max-width: 18rem;
    margin-bottom: 2.5em;
    margin-right: 0; } }
@media (min-width: 480px) and (max-width: 768px) {
  .articles-card {
    max-width: 18rem;
    margin-bottom: 15px;
    margin-right: 0; } }
@media (min-width: 768px) and (max-width: 1024px) {
  .articles-card {
    margin-bottom: 10px; } }
.article__image {
  border-radius: 20px; }
  .article__image_right {
    width: 566px;
    height: 761px; }

.article__text {
  margin-bottom: 25px; }

.article__title-wrapper {
  padding: 40px;
  background-color: rgba(7, 140, 137, 0.2);
  border-radius: 20px; }

.article__subtitle {
  margin: 0;
  padding: 0;
  color: black;
  font-weight: 400; }

.about__img-item {
  margin-left: 2em; }

@media (min-width: 320px) and (max-width: 480px) {
  .about__img-item {
    margin: 4em auto auto auto; } }
.about__img {
  max-width: 33em;
  max-height: 40em; }

@media (min-width: 320px) and (max-width: 480px) {
  .about__img {
    max-width: 16em;
    max-height: 25em; } }
@media (min-width: 481px) and (max-width: 1024px) {
  .about__img {
    max-width: 28em;
    max-height: 30em; } }
.about__text {
  width: 40%;
  align-self: center;
  text-align: center; }

@media (min-width: 320px) and (max-width: 480px) {
  .about__text {
    width: 90%; } }
@media (min-width: 481px) and (max-width: 1024px) {
  .about__text {
    width: 100%; } }
.about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 4em; }

@media (min-width: 320px) and (max-width: 480px) {
  .about {
    display: flex;
    flex-direction: column; } }
.btn__link {
  background-color: rgba(7, 140, 137, 0.2);
  text-decoration: none;
  color: #078c89;
  padding: 1em;
  font-size: 20px; }

@media (min-width: 320px) and (max-width: 480px) {
  .btn__link {
    font-size: 18px; } }
.btn {
  margin-top: 5em;
  transition: 1s; }

.btn:hover {
  transform: scale(1.1); }

@media (min-width: 320px) and (max-width: 480px) {
  .btn {
    margin-top: 4em; } }

/*# sourceMappingURL=main.css.map */
