@import "./__image/_image";
@import "./__title/_title";
@import "./__text/_text";
.services {
    margin: 0 auto;
}

.services-block {
    display: flex;
    flex-direction: row;
    margin: 102px 0 189px 0;
}

@media screen and (max-width: 767px) {
    .services {}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .services {}
}