@import "./__image/_image";
@import "./__title/_title";
@import "./__text/_text";
.services-block {
    display: flex;
    flex-direction: row;
    margin: 102px 0 130px 0;
}

@media (min-width: 320px) and (max-width: 1023px) {
    .services-block {
        display: flex;
        flex-direction: column;
        margin: 1rem 0;
    }
}