@import "./__image/_image";
@import "./__info/_info";
@import "./__title/_title";

.booking {
    margin: 3rem 0 4rem;
}

.booking-block2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media (min-width: 320px) and (max-width: 767px) {
    .booking-block2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.booking-block2__text {
    display: flex;
    flex-direction: column;
    margin-top: 2.5em;
    background-color: $light-grey;
    margin-right: 1em;
    padding: 2em;
    border-radius: 20px
}

@media (min-width: 320px) and (max-width: 1024px) {
    .booking-block2__text {
        margin: 0 auto;
        margin-top: 0;
        margin-bottom: 2rem;
        width: 70%;
    }
}