.about__img-item {
    margin-left: 2em;
}

@media (min-width: 320px) and (max-width: 480px) {
    .about__img-item {
        margin: 4em auto auto auto;

    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .about__img-item {
        max-width: 20em;
        max-height: 25em;
        margin: 6em auto auto auto;
    }
}