@font-face {
    font-family: 'Roboto';

    src: url(../fonts/Roboto-Bold.woff2);

}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    src: url(../fonts/Roboto-Light.woff2);
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;
    src: url(../fonts/Roboto-Medium.woff2);
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    src: url(../fonts/Roboto-Regular.woff2);
}