@import "./variables.scss";
@import "./blocks/body/body.scss";
@import "./blocks/border-radius/border-radius.scss";
@import "./blocks/education/education.scss";
@import "./blocks/education-gallery/education-gallery.scss";
@import "./blocks/title-box/title-box.scss";
@import "./blocks/title/title.scss";
@import "./blocks/text/text.scss";
@import "./blocks/services/services.scss";
@import "./blocks/principles/principles.scss";
@import "./blocks/main-container/main-container.scss";
@import "./blocks/footer/footer.scss";
@import "./blocks/hr/hr.scss";
@import "./blocks/articles/articles.scss";
@import "./blocks/articles-card/articles-card.scss";
@import "./blocks/article/article.scss";
@import "./blocks/about/about.scss";
@import "./blocks/btn/btn.scss";