//Цвета

$light-green: rgba(7, 140, 137, 0.2);
$dark-green: rgba(7, 140, 137, 1);
$light-grey: rgba(238, 238, 238, 0.92);
$grey: rgba(118, 118, 118, 1);
$black: rgba(0, 0, 0, 1);

// Вьюпорты

$tablet-width: 768px;
$desktop-width: 1200px;