//Цвета

$light-green: rgba(7, 140, 137, 0.2);
$dark-green: rgba(7, 140, 137, 1);
$light-grey: hsla(0, 0%, 93%, 0.92);
$grey: rgba(118, 118, 118, 1);
$black: rgba(0, 0, 0, 1);

//Декор

@mixin border-radius {
    border-radius: 20px;
}

@mixin border-green {
    border: 3.5px solid $light-green;
}

// Вьюпорты

$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;